 /* .lado_izq{
    
    
    grid-column: 1 / span 1 ;
   
  .icono_tw{
        
        

    }
    .main_nav{
        display: flex;
        flex-direction: column;

    }
    .new_tw{
        .boton{
            @include botom;
        }
        
    }
    
}*/