/* .lado_dcha{
    
    
    grid-column: 4 / span 1 ;
   .trends{
        font-weight: bold;


    }
    .aside_trends{
        display: flex;
        flex-direction: column;
        .amount{

        }
        .reset{
            
        }
    }
    
}
*/